# Dépendances (trop lourd pour GitHub)
node_modules/

# Environnement (Contient vos clés secrètes Google/Supabase)
.env
.env.local
.env.production

# Build Next.js (Généré automatiquement)
.next/
out/
build/

# Divers
.DS_Store
*.log